.ui-dbutton {
	padding: 0
}

.ui-dbutton:active {
	box-shadow: none
}

.ui-dbutton-self,.ui-dbutton-arrow {
	float: left;
	font-weight: 400;
	cursor: pointer
}

.ui-dbutton-self {
	border-radius: 2px 0 0 2px
}

.ui-dbutton-arrow {
	border-radius: 0 2px 2px 0
}

.ui-dbutton-normal:hover {
	color: #fff;
	background-color: #f57403
}

.ui-dbutton-normal .ui-dbutton-self:hover,.ui-dbutton-normal .ui-dbutton-arrow:hover
	{
	background-color: #fb8318
}

.ui-dbutton-normal .ui-dbutton-self {
	border-right: 1px solid #e8720b
}

.ui-dbutton-normal .ui-dbutton-arrow {
	border-left: 1px solid #fd8a27;
	color: #fff
}

.ui-button-lnormal .ui-dbutton-self {
	padding: 0 12px
}

.ui-button-lnormal .ui-dbutton-arrow {
	width: 24px
}

.ui-button-mnormal .ui-dbutton-self {
	padding: 0 10px
}

.ui-button-mnormal .ui-dbutton-arrow {
	width: 20px
}

.ui-button-snormal .ui-dbutton-self {
	padding: 0 8px
}

.ui-button-snormal .ui-dbutton-arrow {
	width: 18px;
	font-size: 10px
}

.ui-dbutton-disable:hover {
	background-color: #f3f3f3
}

.ui-dbutton-disable .ui-dbutton-self:hover,.ui-dbutton-disable .ui-dbutton-arrow:hover
	{
	background-color: #fcfbfb;
	color: #666
}

.ui-dbutton-disable .ui-dbutton-self {
	border-right: 1px solid #cdcdcd
}

.ui-dbutton-disable .ui-dbutton-arrow {
	border-left: 1px solid #fff;
	color: #999
}

.ui-button-ldisable .ui-dbutton-self {
	padding: 0 12px
}

.ui-button-ldisable .ui-dbutton-arrow {
	width: 24px
}

.ui-button-mdisable .ui-dbutton-self {
	padding: 0 10px
}

.ui-button-mdisable .ui-dbutton-arrow {
	width: 20px
}

.ui-button-sdisable .ui-dbutton-self {
	padding: 0 8px
}

.ui-button-sdisable .ui-dbutton-arrow {
	width: 18px;
	font-size: 10px
}

.ui-button-dropdown {
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.ui-button-dropdown-large,.ui-button-dropdown-middle,.ui-button-dropdown-small
	{
	border: 1px solid #ddd;
	border-top: 0;
	border-bottom: 0;
	box-shadow: 0 0 4px #d9d9d9;
	zoom: 1;
	position: absolute;
	left: 0;
	width: 98%;
	background: #fff;
	margin: 0;
	padding: 0;
	list-style: none
}

.ui-button-dropdown-large {
	top: 33px;
	font-size: 14px
}

.ui-button-dropdown-middle {
	top: 29px;
	font-size: 14px
}

.ui-button-dropdown-small {
	top: 25px;
	font-size: 12px
}

.ui-button-dropdown-item {
	zoom: 1;
	border-bottom: 1px solid #E6E6E6
}

.ui-button-dropdown-item a {
	padding: 5px 10px;
	display: block;
	zoom: 1;
	color: #08c
}

.ui-button-dropdown-item a:hover {
	background-color: #DFE9F2;
	text-decoration: none
}