/*!
 * jquery-dialog default.css
 * @author ydr.me
 * @for jquery-dialog.js
 * @version 1.1
 */

/**
 * v1.0 2013年11月9日14:01:50
 * 构造
 * 
 * v1.1 2014年3月7日23:35:27
 * 修正了部分样式错位
 */


@charset"utf-8";

.jquery-dialog____bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	background: url("body_bg.png");
	z-index: 1999;
	display: none;
}

.jquery-dialog____ {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100px;
	min-height: 100px;
	z-index: 2000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: none;
}

.jquery-dialog____wrap {
	border: 1px solid #a0a0a0;
	border-radius: 6px;
	background: url("../body_bg.png");
	box-shadow: 0px 0px 0px #ccc;
}

.jquery-dialog____header {
	line-height: 20px;
	overflow: hidden;
	padding-right: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 20px;
	font-weight: 900;
	color: #a0a0a0;
	/* background: #fafafa;
	background: linear-gradient(to bottom, #fefefe 0%, #fafafa 70%, #f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f5f5f5', GradientType=0);
	 */
	background: url("body_bg.png");
	border-bottom: 2px solid #a0a0a0;
	border-radius: 6px 6px 0 0;
	padding: 10px;
	position: relative;
	font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.jquery-dialog____close {
	position: absolute;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	right: 12px;
	top: 4px;
	color: #a0a0a0;
	text-decoration: none;
	/* text-shadow: 0 1px 0 #fff; */
}

.jquery-dialog____close:hover {
	color: #fff;
	text-decoration: none;
}

.jquery-dialog____body {
	position: relative;
	padding: 15px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	line-height: 20px;
	zoom: 1;
}
