.ui-box {
	zoom: 1;
	color: #a0a0a0;
	font-size: 12px;
	margin: 0;
	padding: 0;
	border-bottom: 0;
	border-radius: 6px;
	/* background: #18182A;
	background: -webkit-gradient(linear, 0 0, 100% 0, from(#18182A),
		to(#29293A));
	background: -moz-linear-gradient(left, #18182A, #29293A);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#18182A',
		endColorstr='#29293A', gradientType=1);
	-ms-filter: alpha(opacity =   100 finishopacity =   50 style =   1 startx =   0,
		starty =   0, finishx =   0, finishy =   150) progid:DXImageTransform.Microsoft.gradient(startcolorstr='#18182A',
		endcolorstr='#29293A', gradientType=1);
	background: -o-linear-gradient(left, #18182A, #29293A);
	background: linear-gradient(left, #18182A, #29293A); */
}

.ui-box:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden
}

.ui-box-follow {
	border-top: 0
}

.ui-box-head {
	position: relative;
	padding: 10px;
	height: 16px;
	line-height: 16px;
	zoom: 1;
}

.ui-box-head .ui-box-head-title {
	color: #a0a0a0;
	font-size: 20px;
	font-weight: 500;
	float: left;
	display: inline;
	margin: 0;
	padding: 0
}

.ui-box-head .ui-box-head-title-point {
	background-color: #22ac38;
	font-size: 16px;
	display: inline-block;
	height: 6px;
	width: 6px;
	border-radius: 3px;
	float: left;
	margin-top: 5px;
	margin-right: 6px;
}

.ui-box-head .ui-box-head-more {
	float: right
}

.ui-box-head .ui-box-head-more-img {
	font-size: 16px;
	color: #0099ff;
}

.ui-box-head .ui-box-head-more-circle {
	display: inline-block;
	height: 18px;
	width: 18px;
	line-height: 18px;
	border-radius: 9px;
	font-size: 12px;
	color: #fff;
	background-color: #eb6100;
	text-align: center;
	margin-left: 3px;
	border-radius: 9px;
}

.ui-box-head .ui-box-head-text {
	margin-left: 10px;
	float: left;
}

.ui-box-container {
	
}

.ui-box-content {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	/* padding: 0px; */
}